:root {
    --basic-black: #000000;
    --basic-black-light: #231F20;
    --basic-white: #ffffff;
    --basic-grey-extra-dark: #333333;
    --basic-grey-extra-light: #EEEEEE;
    --basic-grey-light: #F2F2F2;
    --basic-grey-light2: #BDBBBC;
    --basic-grey-middle: #ABABAB;
    --basic-grey-middle2: #EBEBEB;
    --basic-grey: #CACACA;
    --basic-grey-dark: #666666;
    --basic-grey-dark2: #a9a9a9;
    --basic-brown-dark: #503E33;
    --basic-brown-middle: #604E43;
    --basic-brown: #766458;
    --basic-brown-light: #766357;
    --basic-blue-middle: #669EC0;
    --basic-blue-dark: #5496BD;
    --basic-blue-light: #81B3D2;
    --basic-blue: #81B3D3;
    --basic-white2:rgba(255, 255, 255, 0.9);
  }
body {
    min-width: 1200px;
    margin: 0 auto;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    background-color: var(--basic-white);
    color: var(--basic-grey-extra-dark);
    text-align: center;  
  }
a {
    text-decoration: none;
    color: inherit;
  } 
img {
    max-width: 100%;
    height: auto;
  }
  ul {
    list-style: none;
  }
  /* Grid */

.page {
    height: 100%;
  }
body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }
.wrapper {
    position: relative;
	width: 1200px;
    margin: 0 auto;
	box-shadow: 0 0 15px 40px #f2f2f2;
}
.header {
    margin: 0;
  }
  /* Main navigation */

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
	min-height: 56px;
    margin: 0;
    color: var(--basic-black);
  }
.wrapper-nav {
    width: 1050px;
	margin: 0 auto;
	padding: 0 0;
}
.logo {
    position: absolute;
	top: 0;
	left: 50%;
	z-index: 1;
	align-self: center;
	width: 138px;
	height: 70px;
    margin-left: -70px;
    
}
.site-navigation {
    display: flex;
    flex-wrap: wrap;
	margin: 0;
	padding: 0;
    min-height: 56px;
    width: 100%;
    justify-content: space-between;
   
}
	
.site-navigation li {
    display: block;
    margin-top: 15px;
	padding: 0;
}
.site-navigation li:nth-child(3) {
    text-align: right;
    margin-right: 17px;
}

.site-navigation li:nth-child(2) {
    text-align: left;
    margin-right: 290px;
}

.site-navigation a {
   color: var (--basic-black);
}
.site-navigation a:hover {
    color: var(--basic-blue-light);
}
.site-navigation a:active {
    color: var(--basic-black);
    mix-blend-mode: normal;
    opacity: 0.3;
}
.site-navigation a:focus {
    color: var(--basic-brown-light);
}
.img-welcome {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	min-height: 508px;
	background-color: #d5e6f0;
	background-image: url("../img/background\ photo.jpg");
	background-position: 100% 22%;
	background-repeat: no-repeat;
	background-size: 100%;
}
.img-welcome img {
	margin-top: 76px;
	margin-bottom: 0;
	padding: 0;
}
.img-welcome .img-mask::after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 1200px;
	height: 57px;
	background-image: url("../img/intro-mask.svg");
}

/* Reasons-advantages */
 
.reasons-advantages {
    display: flex;
	flex-direction: column;
	align-items: center;
    min-height: 216px;
}
.reasons-advantages p {
    font-size: 14px;
    line-height: 26px;
    width: 650px;
	margin-top: 42px;
	margin-bottom: 0;
}
.reasons-advantages h1 {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    width: 480px;
	margin-top: 45px;
	margin-bottom: 0;
    padding: 0;
    
}
.reasons-list h2 {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}
.reason-1, .reason-2 {
    background-color: var(--basic-blue-light);
    color: var(--basic-white);
}
.reason-1>h2, .reason-2>h2  {
    min-width: 150px;
	margin-top: 49px;
    margin-bottom: 0;
    color: var(--basic-white);
}
.reason-1 .reason-number, .reason-2 .reason-number {
    width: 51px;
	margin-top: 25px;
	margin-bottom: 0;
}
.reason-1 p, .reason-2 p {
    width: 400px;
	margin-top: 3px;
    margin-bottom: 0;
    min-height: 43px;


}
.reason-3, .reason-4, .reason-5 {
    width: 400px;
	min-height: 256px;
    background-color: var(--basic-grey-extra-light);  
}
.reason-3 h2, .reason-4 h2, .reason-5 h2 {
    width: 120px;
	margin-top: 47px;
	margin-bottom: 0;
}
.reason-3 .reason-number, .reason-4 .reason-number, .reason-5 .reason-number {
    width: 51px;
	margin-top: 25px;
	margin-bottom: 0;
}
.reason-3 p, .reason-4 p, .reason-5 p {
    width: 400px;
	margin-top: 23px;
	margin-bottom: 0;
}
.reasons-list {
    display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}
.reason-1, .reason-2, .reason-3, .reason-4, .reason-5, .advantages {
    display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
}
.reason-1 {
    position: relative;
	width: 1200px;
	min-height: 256px;
    padding-right: 800px;
}
.reason-1 img {
    position: absolute;
	top: 0;
	right: 0;
	width: 800px;
	min-height: 256px
}
.reason-2 {
    position: relative;
	width: 1200px;
	min-height: 256px;
	padding-left: 800px;
}
.reason-2 img {
    position: absolute;
	top: 0;
	left: 0;  
}
.advantages h2 {
    width: 240px;
	margin-top: 22px;
	margin-bottom: 0;
}
.advantages p {
    width: 400px;
	margin-top: 25px;
	margin-bottom: 0;
}
.advantages {
    position: relative;
	width: 400px;
    min-height: 330px;
}
.icon-house, .icon-food {
    margin-top: 60px;
}
.icon-souv {
    margin-top: 55px;
}
/* Interested */

.interested h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    color: var(--basic-black);
    min-height: 55px;
	margin: 0;
	padding-top: 58px;
}
.interested p {
    min-height: 92px;
	margin: 0;
    font-size: 14px;
    line-height: 24px;
}

/* Button-search */
.button-search {
    color: var(--basic-white);
    background-color: var(--basic-brown-light);
    text-align: center;
    text-transform: uppercase;
    font: inherit;
    border: none;
	width: 568px;
    min-height: 86px;
    position: relative;
    z-index: 1;     
}
.button-search span {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}
.button-search:hover {
    background-color: var(--basic-brown-middle);
}
.button-search:active {
    background-color: var(--basic-brown-dark);
}
.button-search span:active {
    color: var(--basic-white);
    mix-blend-mode: normal;
    opacity: 0.3;
}
/* Form-date-search */

.form-date-search {
    color: var(--basic-black);
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    z-index: 2;
    position: absolute;
}
.entry-field {
    background-color: var(--basic-grey-light);
    border: none;
    width: 33%;
    text-align: center;
}
.entry-field:hover {
    background-color: var(--basic-grey-middle2);
    border: none;
}
.entry-field:focus {
    background-color: var(--basic-white);
    border: 2px solid #E5E5E5;
    box-sizing: border-box;
}
.entry-field::placeholder {
    color: var(--basic-black);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
}

    .search-hotel-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        width: 568px;
        min-height: 395px;
        margin-left: 600px;
        padding: 55px;
        z-index: 2;
        background-color: var(--basic-white);
        box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
        transform: translateX(-50%);
        animation-name: emergence;
        animation-duration: 0.5s;
        transform-origin: top center;
    }
    @keyframes emergence {
        0% {
            transform: scaleY(0) translateX(-50%)
        }
      
        100% {
            transform: scaleY(1) translateX(-50%)
        }
    }
    .form-close {
        position: relative;
        display: none;
      }
      .form-show {
        display: block;
        z-index: 2;
      }
      @keyframes shake {
        0%, 100% {
            transform: translateX(0);
        }
      
        10%, 30%, 50%, 70%, 90% {
            transform: translateX(-10px);
        }
      
        20%, 40%, 60%, 80% {
            transform: translateX(10px);
        }
      }
      
      .modal-error {
        animation-name: shake;
        animation-duration: 0.6s;
      }
        
    .search-item {
        position: relative;
        display: flex;
        align-items: center;
        height: 38px;
        margin: 0 0 30px 0;
        padding: 0;
    }
    .search-wrapper {
        display: flex;
        justify-content: space-between;
        height: 37px;
        margin-bottom: 56px;
    }
    .search-w {
        display: flex;
        width: 150px;
    }
    .search-item label {
        width: 113px;
        margin: 0;
        margin-bottom: 5px;
        text-align: left;
        font-size: 14px;
        line-height: 26px;
        font-weight: bold;
        color: var(--basic-black);
    }
    .search-item input {
        box-sizing: border-box;
        width: 346px;
        height: 38px;
        padding-left: 15px;
        text-align: left;
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 26px;
        font-weight: bold;
        color: var(--basic-black);
        background-color:var(--basic-grey-light);
        border: 0;
    }
    .search-item input:hover,
    .search-item input:active {
       background-color:var(--basic-grey-middle2);
    }
    .search-item input:focus {
        background-color:var(--basic-white);
        outline: none;
        border: 2px solid #e5e5e5;
    }
    .calendar {
        position: absolute;
        right: 9px;
        top: 8px;
        padding: 0;
        border: 0;    
        background-color: inherit;
    }
    .calendar svg {
        fill: #a9a9a9;
    }
    .calendar svg:hover,
    .calendar svg:focus {
        fill: #000000;
    }
    .calendar svg:active {
        fill: #81b3d2;
    }
    .search-item-quantity {
        position: relative;
        display: flex;
        justify-content: flex-end;
        width: 150px;
        margin-bottom: 54px;
    }
    .search-item-quantity label {
        box-sizing: border-box;
        width: 70px;
    }
    .search-item-quantity:first-child label {
        position: absolute;
        left: 0;
        top: 6px;
    }
    .search-item-quantity input {
        width: 38px;
        padding: 0;
        text-align: center;
    }
    .minus,
    .plus {
        position: relative;
        width: 38px;
        height: 37px;
        background-color:var(--basic-grey-light);
        color:var(--basic-grey-dark2);
        border: none;
    }
    .plus:hover::before,
    .plus:focus::before,
    .plus:hover::after,
    .plus:focus::after,
    .minus:hover::before,
    .minus:focus::before {
        background-color:var(--basic-black);
    }
    .plus:active::before,
    .plus:active::after,
    .minus:active::before {
        background-color:var(--basic-blue-light);
    } 
    .minus::before {
        content: "";
        position: absolute;
        top: 18px;
        left: 13px;
        width: 12px;
        height: 3px;
        background-color: #a9a9a9;	
    }
    .plus::before {
        content: "";
        position: absolute;
        top: 18px;
        left: 13px;
        width: 12px;
        height: 3px;
        background-color: #a9a9a9;
        transform: rotate(90deg);
    }
    .plus::after {
        content: "";
        position: absolute;
        top: 18px;
        left: 13px;
        width: 12px;
        height: 3px;
        background-color: #a9a9a9;
    }
    .btn-search-date {
        width: 458px;
        height: 58px;
        font-size: 21px;
        line-height: 27px;
        font-weight: bold;
        text-align: center;
        background-color: var(--basic-blue-light);
        color: var(--basic-white);
        text-transform: uppercase;
        border: none;   
    }
    .btn-search-date:hover,
    .btn-search-date:focus {
        background-color: var(--basic-blue-middle);
    }
    .btn-search-date:active {
        background-color: var(--basic-blue-dark);
        color: var(--basic-white);
        opacity: 0.3;
    }
  .map {
    width: 1200px;
    height: 594px;
    margin-bottom: -122px;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    bottom: 122px;
    z-index: 0;
  }
  /* Modal */

/* Footer */

.footer {
    background-color: var(--basic-white2);
    padding: 0;
    min-height: 120px;
    position: relative;
    z-index: 1;
}
.footer .fcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.contacts {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
    margin-left: 10px;
    width: 370;
    padding-top: 23px;
    padding-left: 60px;     
}
.contacts p {
    margin: 0;
    margin-top: 10px;
    min-width: 251px;
}
.social-list {
    padding-left: 60px;
    padding-right: 125px;
    padding-top: 37px;
    margin: 0;
    margin-left: auto;
  }
.social-list-box {
    display: flex;
    margin: 0;
}
.social-list-item {
    width: 46px;
    height: 48px;
    position: relative;
    display: flex;
    background-color: var(--basic-blue-light);
  }
  .social-list-item:not(:last-child) {
    margin-right: 6px;
  }
  .twitter::before {
    content: "";
    position: absolute;
    width: 46px;
    height: 48px;
    background-position: 50% 50%;
    background-image: url(../img/twitter.svg);
    background-repeat: no-repeat;
  }
  .facebook::before {
    content: "";
    position: absolute;
    width: 46px;
    height: 48px;
    background-position: 50% 50%;
    background-image: url(../img/fb-icon.svg);
    background-repeat: no-repeat;
  }
  .youtube::before {
    content: "";
    position: absolute;
    width: 46px;
    height: 48px;
    background-position: 50% 50%;
    background-image: url(../img/youtube.svg);
    background-repeat: no-repeat;
  }
  .social-list-item:focus,
  .social-list-item:hover{
    background-color: var(--basic-blue-middle);
  } 
  .social-list-item:a {
    background-color: var(--basic-blue-dark);
  }
  .twitter:active,
  .facebook:active,
  .youtube:active {
    opacity: 0.3;
}
.creator span {
    font-size: 14px;
    line-height: 26px;
    margin-top: 10px;
    padding-left: 15px;
}
.copyright {
    display: flex;
    margin: 0;
    justify-content: center;
    margin-top: 39px;
}
.logo-creator {
   padding-left: 10px;
   margin-right: 90px;
}
.logo-creator path:hover,
.logo-creator path:focus {
  fill: #81b3d2;
}
.logo-creator path:active {
  fill: #bdbbbc;
}

   /*Inner-html */ 
  /*Filter*/

.housing-filter {
    background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
    background-position: 100% 16%;
    color: var(--basic-white);
}
.hotel-filter {
	display: flex;
	justify-content: flex-start;
	box-sizing: border-box;
	width: 1200px;
	min-height: 217px;
	margin: auto;
    padding: 0 72px;
    position: relative;
}
.hotel-filter fieldset {
    margin-top: 27px;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	border: 0;
}
.options {
	width: 240px;
	min-height: 160px;
}
.infrastructure {
	width: 240px;
	margin-right: 0;
}
.type-hotel {
	width: 288px;
	margin-left: 15px;
	margin-right: 0;
}
.price {
	width: 328px;
	margin: 0;
    margin-left:auto;
    box-sizing: border-box;
	padding-left: 10px;
}
.hotel-filter legend {
    margin-bottom: 9px;
	padding: 0;
    text-align: left;
	font-size: 16px;
    line-height: 21px;
    font-weight: bold;
	color: var(--basic-white);
}
.infrastructure-list,
.type-list {
    margin-top: 19px;
	padding: 0;
}
.filter-item {
    position: relative;
	min-height: 23px;
    margin-bottom: 20px;
    text-align: left;
}
.filter-item input[type="checkbox"] {
	display: none;
}
.filter-item label {
	padding-left: 40px;
    color: var(--basic-white);
}
.filter-item label:before {
	content: "";
	position: absolute;
	left: 0;
	width: 25px;
	height: 25px;
	background: url(../img/checkbox-off.svg) no-repeat;
}
.filter-item input[type="checkbox"]:checked ~ label::before {
	background: url(../img/checkbox-on.svg) no-repeat;
}
  .range-cost {
    position: relative;
    height: 33px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    text-emphasis: none;
  }
  .range-cost::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background-color: var(--basic-white);
    transform: translate(-50%, -50%);
  }
  .range-cost label {
    display: inline-block;
    color: var(--basic-white);
  }
  .range-cost .min-price,
  .range-cost .max-price {
    width: 90px;
    padding-left: 64px;
    text-align: left;
    margin-top: 5px;
  }
  .range-cost input {
    width: 50px;
    margin: 0;
    padding-bottom: 9px;
    color: var(--basic-white);
    font: inherit;
    background: none;
    border: none;
  }
  .range-controls {
    position: relative;
    margin-bottom: 32px;
  }
  .range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
  }
  .range-controls .bar {
    width: 80%;
    height: 2px;
    background-color: var(--basic-white);
  }
  .range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background-color: var(--basic-grey-middle);
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px #ABABAB;
  }
  .range-toggle:hover {
    border: 9px solid #ffffff;
  }
  .range-toggle-max {
    left: 79%;
  }
  .show-btn {
    display: block;
    margin-left: 83px;
    padding: 7px 34px;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
  }
  .show-btn:hover {
    color: var(--basic-black);
    background-color: var(--basic-white);
  }
  
/*Result*/
.price-type-rating {
    display: flex;
	align-items: center;
	width: 1200px;
	height: 87px;
	min-height: 87px;
    border-bottom: 1px solid #e5e5e5;
}
.quantity {
    margin-left: 72px;
	margin-right: 0;
}
.price-rating-list {
    display: flex;
	align-items: baseline;
	margin-left: 48px;
    margin-right: 0;
	padding: 0;
}
.sorting {
    margin-left: 0;
    margin-right: 33px;
    margin-bottom: 5px;
    color: var(--basic-black);
	font-size: 12px;
    line-height: 18px;
    font-weight: normal;
}
.sort-item {
    position: relative;
    border-bottom: 1px dashed #81b3d2;
    margin-left: 2px; 
    color: var(--basic-black);
    opacity: 0.3;
}
.sort-item:hover {
    opacity: 1;
	color:var(--basic-blue-light);
}
.sort-item:focus {
    opacity: 1;
    color:var(--basic-blue-light);
    text-decoration: none;
	border: none;
}
.sort-item:active {
    opacity: 1;
	color:var(--basic-black);
	text-decoration: none;
	border: none;
}
.btn-up-down {
	position: absolute;
    right: 74px;
    display: flex;
}
.btn-up-down li {
    margin-bottom: 20px;
}
.btn-up {
    margin-right: 11px;
}
.btn-down path,
.btn-up path {
  fill:#CACACA ;
}
.btn-up-down li path:hover {
    fill: #000000;
}
.btn-up-down li path:active,
.btn-up-down li path:focus {
  fill: #81b3d2;
}

/*hotels*/
.housing-list {
    min-height: 450px;
	margin: 0;
	padding: 0;
}
.housing-item {
    display: flex;
	min-height: 150px;
	margin: 0;
    padding: 0;
    border-bottom: 1px solid #e5e5e5;
}
.housing-item img {
    width: 135px;
	height: 90px;
	margin-top: 29px;
	margin-left: 72px;
	margin-right: 29px;    
}
.housing-item h2 {
    margin: 0;
    margin-bottom: 5px;
    min-width: 260px;
    min-height: 26px;
    text-align: left;
}
.hous-span {
    margin-bottom: 13px;
    text-align: left;
}
.hous-content {
    width: 277px;
	min-height: 80px;
	margin-top: 24px;
	padding: 0;
} 
.hous-wrapper {
    display: flex;
}
.hous-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
	margin-left: 0;
	margin-right: 6px;
}
.hous-reserve {
    display: flex;
	flex-direction: column;
	margin-left: 0;
	margin-right: 0;
}
.sorting-result, .quantity {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}
.sorting-result:hover {
    color: var(--basic-blue-light);
}
.sorting-result:active {
    color: var(--basic-black);
    opacity: 0.3;
}
.sorting {
    color: var(--basic-black);
    font-size: 12px;
    line-height: 18px;
}
.booking {
    font-weight: bold;
    color: var(--basic-white);
    background-color: var(--basic-brown-light);
    display: inline-block;
    margin-top: 2px;
	padding: 4px 17px;
	padding-bottom: 3px;
}
.booking:hover {
    font-weight: bold;
    color: var(--basic-white);
    background-color: var(--basic-brown-middle);
}
.booking:active {
    font-weight: bold;
    background-color: var(--basic-brown-dark);
    color: var(--basic-white);
    opacity: 0.3;
}
.details {
    font-weight: bold;
    color: var(--basic-white);
    background-color: var(--basic-blue-light);
    display: inline-block;
    margin-top: 2px;
	padding: 4px 17px;
    padding-bottom: 3px;
}
.details:hover {
    font-weight: bold;
    color: var(--basic-white);
    background-color: var(--basic-blue-middle);
}
.details:active {
    font-weight: bold;
    background-color: var(--basic-blue-dark);
    color: var(--basic-white);
    mix-blend-mode: normal;
    opacity: 0.3;
}
.rating {  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
}
.stars {
    background-image: url(../img/star.svg);
    background-repeat: space;
    margin-top: 29px;
    margin-right: 74px;
    padding: 0;
  }
  .four-star {
    width: 89px;
    height: 21px;
    margin-left: 25px;
  }
  
  .three-star {
    width: 65px;
    height: 21px;
    margin-left: 46px;
  }
  
  .two-star {
    width: 41px;
    height: 21px;
    margin-left: 71px;
  }
  .rating-value {
    min-height: 24px;
    width: 110px;
    margin-left: 1px;
    margin-bottom: 30px;

    
    padding-top: 3px;
    padding-left: 3px;
    text-align: center;
    color:var(--basic-grey-dark);
    background-color: var(--basic-grey-light);
  }
   
    
